<div class="container is-fluid">
  <div class="columns mt-5">
    <div class="column">
      <a routerLink="" class="is-size-4 hoverl">
        <i class="fas fa-arrow-left has-text-danger"></i>  <label class="has-text-black" style="cursor:pointer;">   Back   </label>
      </a>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <label class="is-size-4 has-text-weight-medium has-text-black underline-pink is-family-secondary">SIIGA</label>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <img src="../assets/siiga-3-mockup.png" alt="" class="image" >
    </div>
    <div class="column p-4">
      <p>The Comprehensive Information System for the Academic Management (I know the name is extremely long)
        is customized and adapted system for the use of the master's degree in business administration.
        Its main purposes are as follows.
        The student taking the master's degree is assigned a tutor to guide him in the development of his thesis.
        It is also a platform where the student can share their scientific articles and maintain their resume updated. </p>
      <br>
      <div class="tags">
        <span class="tag is-rounded">HTML5</span>
        <span class="tag is-rounded">CSS</span>
        <span class="tag is-rounded">JavaScript</span>
        <span class="tag is-rounded">jQuery</span>
        <span class="tag is-rounded">MySQL</span>
        <span class="tag is-rounded">PHP</span>
        <span class="tag is-rounded">Bootstrap</span>
      </div>
      <a  class="button is-primary" href="https://apps.cualtos.udg.mx/siigaBeta">Visit Website</a>
    </div>
  </div>
</div>
