<div class="container is-fluid">
  <div class="columns mt-5">
    <div class="column pl-2 pt-2">
      <a routerLink="" class="is-size-4 hoverl pl-2 pr-3">
        <i class="fas fa-arrow-left has-text-danger"></i>  <label class="has-text-black" style="cursor:pointer;">   Back   </label>
      </a>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <label class="is-size-4 has-text-weight-medium has-text-black underline-pink is-family-secondary">.vanesloor();</label>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <img src="../assets/portafolio-mockup.png" alt="" class="image" >
    </div>
    <div class="column p-4">
      <p class="">The design of this portfolio is based on two colors.
        It is developed in Angular and with the bulma framework.</p>
      <div class="tags">
        <span class="tag is-rounded">Angular</span>
        <span class="tag is-rounded">TypeScript</span>
        <span class="tag is-rounded">Bulma</span>
      </div>
    </div>
  </div>
</div>
