<div class="container is-fluid">
  <div class="columns mt-5">
    <div class="column">
      <a routerLink="" class="is-size-4 hoverl">
        <i class="fas fa-arrow-left has-text-danger"></i>  <label class="has-text-black" style="cursor:pointer;">   Back   </label>
      </a>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <label class="is-size-4 has-text-weight-medium has-text-black underline-pink is-family-secondary">Pacifica Wholesale Sales Web Application</label>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <img src="../assets/pacifica-sales-3-mockup.png" alt="" class="image" >
    </div>
    <div class="column  p-4">
      <p class="">
      This project is very large and ambitious since it is the first time that such a
      system is used in the company. Its function expedited the way in which wholesale
      sales processes were carried out.
      <br>
      Its main functions are as follows.
      <br>
      - Register an order at the customer's establishment. <br>
      - Maintain customer sales and credit history. <br>
      - Schedule visits to customers automatically, so that the seller at the beginning of the day has his customer list. <br>
      - Keep track of the sales that each seller makes to keep his commission acurate. <br>
      </p>
      <div class="tags are-medium">
        <span class="tag">HTML5</span>
        <span class="tag">CSS</span>
        <span class="tag">JavaScript</span>
        <span class="tag">jQuery</span>
        <span class="tag">MySQL</span>
        <span class="tag">PHP</span>
        <span class="tag">Bootstrap</span>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <!-- <h2 class="">PACIFICA</h2>
      <p class="has-text-white">Pacifica is an ecomerce website developed from
        scratch with, HTML, CSS, JavaScript, jQuery PHP, MySQL and Bootstrap. </p> -->
    </div>
  </div>
</div>
