<div class="container">
  <div class="columns mt-5">
    <div class="column pl-2 pt-2">
      <a routerLink="" class="is-size-4 hoverl pl-2 pr-3">
        <i class="fas fa-arrow-left has-text-danger"></i>  <label class="has-text-black" style="cursor:pointer;">   Back   </label>
      </a>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <img src="../assets/sooc-mockup.png" alt="" class="image" >
    </div>
    <div class="column p-4">
      <h2 class="">PACIFICA</h2>
      <p class="">Pacifica is an ecomerce website developed from
        scratch. </p>
        <div class="tags are-medium">
          <span class="tag">HTML5</span>
          <span class="tag">CSS</span>
          <span class="tag">JavaScript</span>
          <span class="tag">jQuery</span>
          <span class="tag">MySQL</span>
          <span class="tag">PHP</span>
          <span class="tag">Bootstrap</span>
        </div>
      <p>The design is simple and focused mainly on the brand's two colors.  </p>
      <img src="../assets/pacifica-colors.png" alt="" style="height:80px">
      <br>
      <a  class="button is-primary" href="https://www.mipacifica.com">Visit Website</a>

    </div>
  </div>
</div>
