<div id="page-container">
   <div id="content-wrap">
    <nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="" id="nav-b">
          <img src="../assets/vanelogo.png" height="28" />
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" (click)="changeStatus()" [ngClass]="navbarStatus ? 'is-active': '' ">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu" [ngClass]="navbarStatus ? 'is-active': '' ">
        <div class="navbar-start">
          <!-- <a class="navbar-item">About Me</a> -->
          <!-- <a class="navbar-item" routerLink="/projects" (click)="changeStatus()">Projects</a> -->
          <a class="navbar-item" routerLink="/resume" (click)="changeStatus()">Resume</a>
        </div>
      </div>
    </nav>


  <router-outlet></router-outlet>

  </div>

  <footer class="has-background-black has-text-white">
    <div class="colunms">
      <div class="column has-text-centered">
        <p class="">
          This portafolio was developed using Angular 8 and the Bulma Framework.
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <div class="circle bg-blue has-text-white">
          <a href="https://www.facebook.com/vanesloor"><i class="fab fa-facebook-f"></i></a>
        </div>
        <div class="circle bg-blue has-text-white">
          <a href="https://github.com/vanesloor"><i class="fab fa-github"></i></a>
        </div>
        <div class="circle bg-blue has-text-white">
          <a href="https://codepen.io/vanesloor"><i class="fab fa-codepen"></i></a>
        </div>
        <div class="circle bg-blue has-text-white">
          <a href="https://www.instagram.com/vanesloor"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="circle bg-blue has-text-white">
          <a href="https://www.linkedin.com/in/vanessa-lopezo96"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="circle bg-blue has-text-white">
          <a href="mailto:vanesloor@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <a href="https://bulma.io">
          <img src="https://bulma.io/images/made-with-bulma--white.png" alt="Made with Bulma" width="128" height="24">
        </a>
      </div>
    </div>
  </footer>
</div>
