.card{
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms;
}
.card:hover{
    box-shadow: 1px 7px 14px rgba(50, 50, 93, .1), 1px 3px 6px rgba(0, 0, 0, .08);
    transform: translateY(5px);
}
