<div class="container is-fluid">
  <div class="columns mt-5">
    <div class="column pl-2">
      <a routerLink="" class="is-size-4 hoverl">
        <i class="fas fa-arrow-left has-text-danger"></i>  <label class="has-text-black" style="cursor:pointer;">   Back   </label>
      </a>
    </div>
  </div>

  <div class="columns">
    <div class="column has-text-centered">
      <h2 class="is-size-2 has-text-weight-medium">Vanessa Lopez</h2>
      <h2 class="is-size-4 has-text-danger has-text-weight-medium">Computer Engineer</h2>
    </div>
  </div>
  <div class="columns">
    <div class="column pl-5 pr-5 pt-4 pb-2">
      <div class="border-bottom-black"></div>
    </div>
  </div>

  <div class="columns">
    <div class="column pl-5 pr-5">
      <h2 class="is-size-4">Summary</h2>
      <p>Looking for hands on experience
        on new technologies. Always
        hoping to learn something new and
        contribute back. Will become a
        workaholic if the job is
        challenging.</p>
    </div>
    <div class="column">
      <figure class="image is-128x128 img">
        <img src="../../assets/vanessa.jpg" alt="" class="is-circle">
      </figure>
    </div>
    <div class="column pl-5 pr-5">
      <p><i class="fas fa-home"></i> Allen Park, Michigan</p>
      <p><i class="fas fa-envelope"></i> vanesloor@gmail.com</p>
    </div>
  </div>
  <div class="columns">
    <div class="column pl-5 pr-5 pt-4 pb-2">
      <div class="border-bottom-black"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <label class="is-size-4 underl">Education</label>
      <p class="mt-4">Bachelor's Degree in Computer
        Engineering
        <br>
        <b>University of Guadalajara, 2018</b></p>
    </div>
    <div class="column has-text-centered">
      <label class="is-size-4 underl">Skills</label>
      <p class="mt-4"></p>

        <ul>
          <li>HTML5</li>
          <li>Javascript</li>
          <li>JQuery</li>
          <li>PHP</li>
          <li>CSS3, SCSS</li>
          <li>Python (basic)</li>
          <li>Java (basic)</li>
          <li>React (basic)</li>
          <li>Angular (basic)</li>
          <li>Node.js (basic)</li>
          <li>MySql</li>
        </ul>


    </div>
    <div class="column has-text-centered">
      <label class="is-size-4 underl">Other Skill</label>
      <p class="mt-4"></p>
      <ul>
        <li>Algorithms</li>
        <li>Git</li>
        <li>Creativity</li>
        <li>Research</li>
        <li>Problem solving</li>
        <li>Adaptability</li>
        <li>Enthuasiam</li>

      </ul>
    </div>
  </div>

  <div class="columns">
    <div class="column pl-5 pr-5">
      <label class="is-size-3 underl">Experience</label>
    </div>
  </div>

  <!-- <div class="columns">
    <div class="column pl-5 pr-5">
      <div class="card is-rounded">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="../assets/pacifica.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Freelance Web Developer</p>
              <p class="subtitle is-6">
                May 2019 - Current
              </p>
            </div>
          </div>

          <div class="content">
            <ul>
              <li>
                Developed eCommerce platform and register with search engines to increase website traffic.
              </li>
              <li>
                Developed two web apps for product distribution purposes. Integrated a QR module to identify
                clients at their stores.
              </li>
              <li>
                Designed custom receipts for zpl printers.
              </li>
              <li>
                Created module to export data from database to Excel documents.
              </li>
              <li>
                Crafted and updated software documentation.
              </li>


            </ul>

          </div>
        </div>
      </div>
    </div>

  </div> -->
  <div class="columns">
    <div class="column pl-5 pr-5">
      <div class="card is-rounded">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="../assets/pacifica.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Web Developer</p>
              <p class="subtitle is-6">
                Universal Wipes
              <br>
                Tepatitlan de Morelos, Jalisco, Mexico
                <br>
                March 2018 - May 2019
            </p>
            </div>
          </div>

          <div class="content">
            <ul>
              <li>
                Developed eCommerce platform and register with search engines to increase website traffic.
              </li>
              <li>
                Developed two web apps for product distribution purposes. Integrated a QR module to identify
                clients at their stores.
              </li>
              <li>
                Designed custom receipts for zpl printers.
              </li>
              <li>
                Created module to export data from database to Excel documents.
              </li>
              <li>
                Crafted and updated software documentation.
              </li>
              <!-- <li></li> -->

            </ul>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="columns">
    <div class="column pl-5 pr-5">
      <div class="card is-rounded">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="../assets/udgc.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Web Developer</p>
              <p class="subtitle is-6">University of Guadalajara
              <br>
              Tepatitlan de Morelos, Jalisco, Mexico
              <br>
              February 2017 - October 2017
            </p>
            </div>
          </div>

          <div class="content">
            <ul>
              <li>
                Held a volunteer position as a web developer for the University of Guadalajara. Developed two web
    apps for specific needs.
              </li>
              <li>
                Worked in a small team and handled full stack programming duties.

              </li>
              <li>
                Followed design patterns to keep the university's brand consistent.
              </li>

              <li>
                Crafted and updated software documentation.
              </li>
              <!-- <li></li> -->

            </ul>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="columns">
    <div class="column"></div>
    <div class="column"></div>
  </div>
</div>
