<div class="container is-fluid">
  <div class="columns mt-5">
    <div class="column">
      <a routerLink="" class="is-size-4 hoverl">
        <i class="fas fa-arrow-left has-text-danger"></i>
        <label class="has-text-black" style="cursor:pointer;">   Back   </label>
      </a>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <label class="is-size-4 has-text-weight-medium has-text-black underline-pink is-family-secondary">PACIFICA</label>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <img src="../assets/pacifica-mockup.png" alt="" class="image" >
    </div>
    <div class="column p-4">

      <p class="">
        Pacifica is an ecommerce website of a company of wet wipes. It's
        desing is simple and based in the brand's two colors. It contains a personalized administrative
        side to make the maintenance of products and sales easier.
        </p>
      <br>
      <div class="tags">
        <span class="tag is-rounded ">HTML5</span>
        <span class="tag is-rounded ">CSS</span>
        <span class="tag is-rounded ">JavaScript</span>
        <span class="tag is-rounded ">jQuery</span>
        <span class="tag is-rounded ">MySQL</span>
        <span class="tag is-rounded ">PHP</span>
        <span class="tag is-rounded ">Bootstrap</span>
      </div>
      <a  class="button is-primary" href="https://www.mipacifica.com">Visit Website</a>

    </div>
  </div>
</div>
