<div class="columns mt-5">
  <div class="column pl-2 pt-2">
    <a routerLink="" class="is-size-4 hoverl pl-2 pr-3">
      <i class="fas fa-arrow-left has-text-primary"></i>  <label class="has-text-black" style="cursor:pointer;">   Back   </label>
    </a>
  </div>
</div>
<div class="columns">
  <div class="column has-text-centered">
    <img src="../assets/pacifica-sales-3-mockup.png" alt="" class="image" >
  </div>
  <div class="column  p-4">
    <h2 class="">Uwipes Wholesale Sales Web Application</h2>
    <p class="">
      This application is simplier than the pacifica app. Only the needed modules
      where installed. 
    </p>
    <p>This app is divided for the administrators and salesmen.</p>
    <div class="columns is-mobile">
      <div class="column">
        <span class="tag is-danger is-medium is-rounded">Administrators</span>
      </div>
      <div class="column">
          <span class="tag is-danger is-medium is-rounded">Salesmen</span>
      </div>

    </div>

    <div class="tags are-medium">
      <span class="tag">HTML5</span>
      <span class="tag">CSS</span>
      <span class="tag">JavaScript</span>
      <span class="tag">jQuery</span>
      <span class="tag">MySQL</span>
      <span class="tag">PHP</span>
      <span class="tag">Bootstrap</span>
    </div>
  </div>
</div>
